$light-color: #f2efec;
$dark-color: #5e5e4a;
$mid-color: #cbcbc0;

@font-face {
  font-family: Handlee;
  src: url("/src/assets/Handlee-Regular.ttf") format("truetype");
}

$font-stack: "Handlee", cursive;
