@import "./variables";

.react-calendar {
  width: 380px;
  background-color: $dark-color;
  color: $light-color;
  padding: 20px;
  border-radius: 8px;

  &__navigation {
    display: flex;
    margin-bottom: 27px;

    &__arrow,
    &__label {
      font-family: inherit;
      color: inherit;
      font-size: 2rem;
    }
  }

  &__month-view {
    &__weekdays {
      font-family: inherit;
      border-bottom: 2px solid $light-color;
      margin-bottom: 10px;

      &__weekday {
        text-align: center;

        & abbr[title] {
          font-size: 1rem;
          text-decoration: none;
        }
      }
    }

    &__days {
      height: 200px;
      &__day {
        font-family: inherit;
        color: inherit;
        text-align: end;
        & abbr {
          font-size: 0.9rem;
        }

        &--neighboringMonth abbr {
          opacity: 50%;
        }
      }
    }
  }

  &__tile {
    font-family: inherit;
    color: $light-color;
  }
  &__tile abbr {
    padding: 5px;
  }
  &__tile--now abbr {
    background-color: #cbcbc085;
    border-radius: 50%;
  }
}
