@import "./variables";

.project__task__checkbox {
  position: relative;
  width: 20px;
  height: 20px;

  &::before {
    visibility: visible;
    content: "";
    width: 18px;
    height: 18px;
    border: 1.5px solid $dark-color;
    border-radius: 4px;
    position: absolute;
  }
}
