@import "./components/variables";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 300px;

  & h1 {
    color: $dark-color;
    font-size: 3rem;
    margin-block: 60px;
  }
}
