@use "./components/calendar.scss";
@use "./components/header.scss";
@use "./components/project-render.scss";

@import "./components/variables";

@font-face {
  font-family: Handlee;
  src: url("/src/assets/Handlee-Regular.ttf") format("truetype");
}

body {
  background: $light-color;
  font-family: "Handlee", cursive;
}
